@import "_inc/mixins";
@import "_inc/variables";


// body
html {
   height: 100%;
}

body {
   min-height: 100%;
   height: 100%;
   background-color: #efefef;
}


// FORSIDE

.underside-wrapper {
  margin-top: 130px;
  text-align: center;
}



.forside .underside-wrapper {
  font-size: 0;
  height: 100%;
  margin-top: 0;

  ul {
    margin-top: 3em;

    li {
      display: inline-block;
      border-bottom: 1px solid black;

      a {
        text-decoration: none;

        &:hover {
          background-color: black;
          color: white;
        }
      }

    }
  }
}

.textblock {
  background-color: #FFFFFF;
  display: inline-block;
  width: 25%;
  height: 100%;
  font-size: $basesize;
  vertical-align: top;
  padding: 65px;
  line-height: 1.5em;

  h1 {
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 1em;
  }
}

.forside-bilde {
  display: inline-block;
  width: 75%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  font-size: $basesize;
  vertical-align: top;
}

//HEADER

#nav-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  z-index: 3;

  a#header-btn {
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 0;

    svg {
      height: 35px;
      width: 35px;
      position: absolute;
      top: 12px;
      left: 12px;
      transition: opacity .3s ease;
    }

    .menu-btn {
      opacity: 1;
    }

    .menu-btn-close {
      opacity: 0;
    }

  }

  h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 11px;
    vertical-align: middle;
  }


  nav {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: rgba(212, 218, 228, 0.9);
    font-size: $h1;
    opacity: 0;
    transition: opacity .3s ease;

    ul {
      position: relative;
      display: none;
      margin-top: 15%;
      text-align: center;
      transition: opacity 0s ease;
      opacity: 0;
      list-style: none;
    }
  }

  &.nav-open {

    .menu-btn { opacity: 0; }
    .menu-btn-close { opacity: 1; }

    ul {
      top: 0;
      opacity: 1;
      display: block;
      transition: opacity .3s ease;
    }

    nav {
      height: 100%;
      z-index: 1;
      opacity: 1;
    }

  }

}

// HISTORIEN

.historien .underside-wrapper {
  margin-top: 130px;
  text-align: center;

  .historien-blokk {
    margin-bottom:6em;
  }

  .mengdetekst {
    width: 40%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 20px;
    line-height: 1.7em;

    &.full { width: 100%; }

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
  }

  .bilde {

    img {
      max-width: 55%;
      display: inline-block;
    }
  }

  .bilde-left img{
    float:left;
  }

  .bilde-right img{
    float:right;
  }

  .bilde-full img {
    max-width: 100%;
  }


}

// PUBLISERT

.publisert--item {
  display: inline-block;
  position: relative;
  width: 30%;
  overflow: hidden;
  margin: 30px;

  img {
    max-width: 100%;
    transition: transform .8s ease;
    transform: scale(1);
  }

  .publisert--item-overlay {
    background-color: #FFFFFF;
    color: #000;
    letter-spacing: 2px;
    padding: 26px;
    position: relative;

    header {
      font-weight: bold;
      font-size: $h4;
    }

    span { font-size: $h5; }
  }

  a {
    display: block;

    img {
      position: relative;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }


}
