{% extends "_layout" %}
{% set bodyClass = "index" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}
	<h1 style="text-align: center; padding-top: 45vh;">Velkommen til {{siteName}}</h1>
	{# {% endminify %}{% endcache %} #}
{% endblock %}
