{% extends "_layout" %}
{% set bodyClass = "forside" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	<section class="underside-wrapper">

		<aside class="textblock">
			{{entry.rikTekst}}

			<nav>
				<ul class="unstyled">
					<li><a href="/historien">Historien</a> /</li>
					<li><a href="/historien">Publisert</a> /</li>
					<li><a href="/journalistene">Journalistene</a></li>
				</ul>
			</nav>
		</aside>

		{% set img = entry.bilde.first | default(false) %}
		{% set bilde = craft.imager.transformImage(img, [
			{ width: 1280, jpegQuality: 65 },
			], { ratio:"16/9" }) %}

		<section class="forside-bilde" style="background-image: url('{{bilde[0].url}}')"></section>

	</section>




	{# {% endminify %}{% endcache %} #}
{% endblock %}
