{% extends "_layout" %}
{% set bodyClass = "journalistene" %}

{% block content %}
	{# {% cache until midnight %}{% minify %} #}

	<section class="underside-wrapper row">

	</section>




	{# {% endminify %}{% endcache %} #}
{% endblock %}
